* {
  margin: 5px;
}
body {
  background: #7e00a8;
}
.text {
  text-align: center;
  color: white;
}
img {
  width: 300px;
  height: 300px;
}
.container {
  display: flex;
  font-size: 20px;
  color: white;
}
.Bela {
  display: flex;
}
.maksim {
  display: flex;
}
.mery {
  display: flex;
  width: 200px;
  height: 200px;
}
.olga {
  display: flex;
}
.bio {
  text-align: center;
  color: white;
  font-size: 20px;
}
.text1 {
  color: white;
  font-size: 20px;
}
.text2 {
  color: white;
  font-size: 20px;
}
.text3 {
  color: white;
  font-size: 20px;
}
.text4 {
  color: white;
  font-size: 20px;
}
.text5 {
  color: white;
  font-size: 20px;
}
.topic {
  text-align: center;
  color: white;
  font-size: 20px;
}
.number {
  color: rgb(235, 30, 184);
  font-size: 20px;
}
.plot {
  color: white;
  text-align: center;
  font-size: 20px;
}
.setting {
  color: white;
  font-size: 20px;
}
.why {
  color: white;
  font-size: 20px;
  text-align: center;
}
.answer {
  color: white;
  font-size: 20px;
}
button{
    padding: 100px 100px;
    border: none;
    border-radius: 30px;
    font-size: 100px;
    background-color: #00a2a8;
    cursor: pointer;
    color: white;
    box-shadow:  0px 5px 10px #000;
}
